[Unit]
Description=kortexa.ai LLM server
After=network.target

StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple

User=francip
Group=francip

WorkingDirectory=/home/francip/src/llm.service

Environment=PATH=/home/francip/.nvm/versions/node/v23.10.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=NODE_ENV=production
Environment=DATA_PATH=/home/francip/data/kortexa-ai

ExecStartPre=/home/francip/.nvm/versions/node/v23.10.0/bin/npm run build
ExecStart=/home/francip/.nvm/versions/node/v23.10.0/bin/node dist/server.js

Restart=always
RestartSec=10

TimeoutStopSec=20

ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/francip/src/llm.service /home/francip/.cache /home/francip/.config /home/francip/data/kortexa-ai
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
